certifi==2022.12.7
charset-normalizer==3.1.0
idna==3.4
joblib==1.2.0
liac-arff==2.5.0
libsvm==3.23.0.4
minio==7.1.14
numpy==1.24.3
openml==0.13.1
pandas==2.0.1
pyarrow==11.0.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.29.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
threadpoolctl==3.1.0
tqdm==4.65.0
tzdata==2023.3
urllib3==1.26.15
xmltodict==0.13.0
